@font-face {
  font-family: 'Kanit';
  src: url('../font/Kanit-Light.woff2') format('woff2'), url('../font/Kanit-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
