@font-face {
    font-family: 'Sarabun';
    src: url('../font/Sarabun-Regular.woff2') format('woff2'),
        url('../font/Sarabun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  